@import "theme";
@import "style";


body {
    h2 {
        margin-left: 2rem;
    }

    article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            padding: 1rem;
        }

        section {
            margin: 1rem;
            width: 30%;
            min-width: 23rem;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            border-radius: $radius;
            background-color: lighten($theme-color, 20%);

            @media screen and (max-width: 800px) {
                width: 93%;
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                p span {
                    font-weight: bold;
                }

                button {
                    padding: .2rem .35rem;
                    width: 2rem;
                    appearance: none;
                    border: none;
                    border-radius: $radius;
                    background-color: $white;
                    cursor: pointer;

                    &:active {
                        background-color: darken($white, 20%);
                    }
                }
            }

            input[type='text'],
            input[type='number'] {
                width: 45%;
                font-size: 1.1rem;
                appearance: textfield;
            }
        }
    }
}