/* Box sizing rules */
@import url(../fonts/gratia-sans/gratia-sans.css);
@import url(../fonts/recoleta/recoleta.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=========================================*/
body {
  font-family: "GratiaSansRegular", sans-serif;
  background-color: #1e1e1e;
  color: white;
}
body *::selection {
  background-color: #51515151;
}
body h1,
body h2,
body h3 {
  font-family: "recoleta-bold", "GratiaSansRegular", sans-serif;
}
body .alert {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 30%;
  left: 30%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  font-weight: bold;
  background-color: #515151;
  animation-name: appear-disappear;
  animation-duration: 4s;
  box-shadow: 0 1px 1.9px rgba(0, 0, 0, 0.02), 0 2.3px 4.6px rgba(0, 0, 0, 0.028), 0 4.4px 8.6px rgba(0, 0, 0, 0.035), 0 7.8px 15.4px rgba(0, 0, 0, 0.042), 0 14.6px 28.8px rgba(0, 0, 0, 0.05), 0 35px 69px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 800px) {
  body .alert {
    right: 10%;
    left: 10%;
  }
}
@keyframes appear-disappear {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body .error {
  background-color: #e06c75;
  color: #f0f0f0;
}
body .success {
  background-color: #98c379;
  color: #f0f0f0;
}
body header {
  padding: 1rem 2rem;
}

body h2 {
  margin-left: 2rem;
}
body article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  body article {
    flex-direction: column;
    padding: 1rem;
  }
}
body article section {
  margin: 1rem;
  width: 30%;
  min-width: 23rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #515151;
}
@media screen and (max-width: 800px) {
  body article section {
    width: 93%;
  }
}
body article section div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body article section div p span {
  font-weight: bold;
}
body article section div button {
  padding: 0.2rem 0.35rem;
  width: 2rem;
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
}
body article section div button:active {
  background-color: #bdbdbd;
}
body article section input[type=text],
body article section input[type=number] {
  width: 45%;
  font-size: 1.1rem;
  appearance: textfield;
}

/*# sourceMappingURL=index.css.map */
