@import "theme";
@import "style";


body {
    h2 {
        margin-left: 2rem;
    }

    form {
        margin: 3rem 5rem;
        display: flex;
        flex-direction: column;
        width: 20rem;
        max-width: calc(100vw - 6rem);;

        @media screen and (max-width: 800px) {
            margin: 3rem;
        }

        input,
        button {
            border-radius: $radius;
            border: 1px solid #bdbdbd;
            background-color: $white;
            transition-duration: .1s;
            justify-self: stretch;

            &:hover {
                background-color: darken($white, 20%);
            }
        }

        div input {
            width: 90%;
        }

        i {
            width: 10%;
            cursor: pointer;
        }

        button {
            width: 50%;
            margin: 2rem auto;
            cursor: pointer;
        }
    }
}