@import "theme";

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    appearance: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



/*=========================================*/
@import url(../fonts/gratia-sans/gratia-sans.css);
@import url(../fonts/recoleta/recoleta.css);

body {
    font-family: 'GratiaSansRegular', sans-serif;
    background-color: $theme-color;
    color: white;

    *::selection {
        background-color: #51515151;
    }

    h1,
    h2,
    h3 {
        font-family: 'recoleta-bold', 'GratiaSansRegular', sans-serif;
    }

    .alert {
        position: absolute;
        z-index: 10;
        top: 1rem;
        right: 30%;
        left: 30%;
        padding: 1rem;
        text-align: center;
        border-radius: $radius;
        font-size: 1.15rem;
        font-weight: bold;
        background-color: #515151;

        animation-name: appear-disappear;
        animation-duration: 4s;
        box-shadow:
                0 1px 1.9px rgba(0, 0, 0, 0.02),
                0 2.3px 4.6px rgba(0, 0, 0, 0.028),
                0 4.4px 8.6px rgba(0, 0, 0, 0.035),
                0 7.8px 15.4px rgba(0, 0, 0, 0.042),
                0 14.6px 28.8px rgba(0, 0, 0, 0.05),
                0 35px 69px rgba(0, 0, 0, 0.07);

        @media screen and (max-width: 800px) {
            right: 10%;
            left: 10%;
        }
    }

    @keyframes appear-disappear {
        0% {
            transform: scale(0);
        }
        5% {
            transform: scale(1);
        }
        95% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }

    .error {
        background-color: #e06c75;
        color: $white;
    }

    .success {
        background-color: #98c379;
        color: $white;
    }

    header {
        padding: 1rem 2rem;
    }
}
